@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

$paragraph: #D0D6F9;
$text: #0B0D17;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    outline: 0;
    border: 0;
}
input{
    font-family: 'Barlow Condensed', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
}